<section class="sidenav">
  <div class="row">
    <div class="col-12 text-center">
      <div class="sidenav__menu btn w-100 px-0">
        <button
          *ngFor="let navMenuItem of navMenu"
          title="{{ navMenuItem.title }}"
          routerLink="{{ navMenuItem.path }}"
          routerLinkActive="active"
          class="
            sidenav__menu-item
            btn
            w-100
            d-flex
            justify-content-lg-start justify-content-center
            align-items-center
            py-3
          "
          [class.justify-content-lg-center]="sidenavLayout === 'profile'"
        >
          <i
            class="sidenav__menu-item-icon fa"
            [ngClass]="navMenuItem.icon"
          ></i>
          <span
            *ngIf="sidenavLayout !== 'profile'"
            class="sidenav__menu-item-title h4 m-0"
            >{{ navMenuItem.title }}</span
          >
        </button>
      </div>
    </div>
  </div>
</section>
