@import "src/app/shared/colors.scss";

.sidenav {
  &__menu {
    &-item {
      & i {
        font-size: calc(1.3em + 0.2vw);
      }
      &-icon {
        padding-right: 0.25em;
      }
      &.active {
        color: $primary;
        & .sidenav__menu-item-title {
          font-weight: bold;
        }
      }
    }
  }
}

.sidenav__menu-item:hover {
  color: $light !important;
  background-color: $primary;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .sidenav {
    &__menu-item {
      margin: 0 auto;
      &-title {
        display: none;
      }
      &-icon {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .sidenav {
    flex-direction: row !important;
    &__menu {
      display: flex;
    }
  }
}
