@import "../../../shared/variables.scss";

.profile-card {
  &__dropdown {
    color: $dark !important;
    background-color: $light !important;
  }
  &__username {
    color: $placeholder-dark;
  }
}

.profile-card__dropdown:hover {
  color: $primary;
  .profile-card__username {
    color: $placeholder;
  }
  outline: 0;
  border-color: $border-hover !important;
  box-shadow: $box-shadow-hover;
}

img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.dropdown-item:hover {
  color: $light !important;
  background-color: $border-hover;
}
