@import "../../../shared/variables.scss";

.profile-card__dropdown {
  color: $dark;
  background-color: white;

  &:hover {
    color: $primary !important;
    outline: 0;
    border-color: $border-hover !important;
    box-shadow: $box-shadow-hover;
  }
}

img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.dropdown-item:hover {
  color: white !important;
  background-color: $border-hover;
}
