<section
  class="
    user-card
    dropup
    d-flex
    justify-content-lg-between justify-content-center
    align-items-center
    py-1
  "
  title="{{ profile?.username }}"
>
  <button
    [class.w-100]="userCardLayout !== 'profile-short'"
    [class.border]="userCardLayout === 'user'"
    class="
      user-card__wrapper
      btn
      d-flex
      justify-content-center
      align-items-center
      p-2
    "
    [class.show]="onClick"
    (click)="toggleDropdown()"
    (focusout)="onClick = false"
  >
    <div class="user-card__picture btn p-0">
      <img
        class="rounded-circle"
        src="{{ profile?.image }}"
        alt="{{ profile?.username }} 's picture"
      />
    </div>
    <div
      *ngIf="userCardLayout !== 'profile-short'"
      class="
        w-100
        d-lg-flex d-none
        justify-content-between
        align-items-center
        flex-wrap
        ml-xl-2 ml-lg-2
      "
    >
      <div class="user-card__info text-left d-xl-block d-lg-block">
        <div class="user-card__alias font-weight-bold">
          {{ profile?.username }}
        </div>
        <div class="user-card__username text-black-50">
          @{{ profile?.username }}
        </div>
      </div>
      <div *ngIf="userCardLayout === 'user'" class="mr-2">
        <i class="fa fa-ellipsis-h"></i>
      </div>
      <div
        *ngIf="userCardLayout === 'profile-long'"
        class="info__follow-btn mt-1"
      >
        <button
          *ngIf="profile?.following === true; else elseBlock"
          class="btn btn-outline-primary"
          (click)="unFollowUser(profile.username)"
        >
          Unfollow
        </button>
        <ng-template #elseBlock>
          <button
            class="btn btn-primary"
            (click)="followUser(profile.username)"
          >
            Follow
          </button>
        </ng-template>
      </div>
    </div>
  </button>

  <button
    *ngIf="userCardLayout === 'user'"
    class="dropdown-menu w-100"
    [class.show]="onClick"
  >
    <a class="dropdown-item" routerLink="/">Settings</a>
    <a class="dropdown-item" routerLink="/">Log out</a>
  </button>
</section>
