<section
  class="
    user-card
    dropup
    d-flex
    justify-content-between
    align-items-center
    py-1
  "
  [class.show]="onClick"
  (click)="toggleDropdown()"
  (focusout)="onClick = false"
>
  <button
    class="user-card__wrapper btn border d-flex align-items-center w-100 p-2"
  >
    <div class="user-card__picture btn p-0">
      <img src="{{ user?.image }}" alt="{{ user?.username }} 's picture" />
    </div>
    <div
      class="
        w-100
        d-flex
        justify-content-between
        align-items-center
        flex-wrap
        ml-xl-2 ml-lg-2
      "
    >
      <div class="user-card__info text-left d-xl-block d-lg-block d-none">
        <div class="user-card__alias font-weight-bold">
          {{ user?.username }}
        </div>
        <div class="user-card__username text-black-50">
          @{{ user?.username }}
        </div>
      </div>
      <div *ngIf="layout === 'user'" class="mr-2">
        <i class="fa fa-ellipsis-h"></i>
      </div>
      <div *ngIf="layout === 'author'" class="info__follow-btn mt-1">
        <button
          *ngIf="user?.following === true; else elseBlock"
          class="btn btn-outline-primary"
        >
          Unfollow
        </button>
        <ng-template #elseBlock>
          <button class="btn btn-primary">Follow</button>
        </ng-template>
      </div>
    </div>
  </button>

  <button
    *ngIf="layout === 'user'"
    class="dropdown-menu w-100 bg-white"
    [class.show]="onClick"
  >
    <a class="dropdown-item" routerLink="/">Settings</a>
    <a class="dropdown-item" routerLink="/">Log out</a>
  </button>
</section>
