$btn-border-radius: 2rem;
$primary: #7f0fff;
$secondary: #dee2e6;
$success: #420084;
$danger: #f2460d;
$info: #7ebcfa;
$warning: #ff9933;
$light: #ffffff;
$dark: #000633;
/* Custom color */
$placeholder: rgba(127, 15, 255, 0.5);
$placeholder-dark: rgba(0, 0, 0, 0.5);
$border-hover: #c38fff;
$box-shadow-hover: 0 0 0 0.2rem rgb(127 15 255 / 25%);
