$btn-border-radius: 2rem;
$primary: #bb85fc;
$secondary: #dee2e6;
$success: #6330ee;
$danger: #cf6678;
$info: #4bdac5;
$warning: #eab161;
$light: #ffffff;
$dark: #121212;
/* Custom color */
$placeholder: #c89efc;
$placeholder-dark: rgba(0, 0, 0, 0.5);
$border-hover: #bb85fc;
$box-shadow-hover: 0 0 0 0.2rem #bb85fc;
