$font-family-base: "Poppins", serif;
$headings-font-family: "Oleo Script", sans-serif;
$enable-grid-classes: false;
$enable-gradients: true;
$spacer: 1.2rem;
$border-width: 0;
$enable-shadows: true;
$btn-border-radius: 1.35rem;
$primary: #2f3c48;
$secondary: #6f7f8c;
$success: #3e4d59;
$danger: #cc330d;
$info: #5c8f94;
$warning: #6e9fa5;
$light: #eceeec;
$dark: #1e2b37;
