$font-family-base: Open Sans;
$headings-font-family: Crete Round;

// $border-width: 0;
$btn-border-radius: 2rem;
$enable-caret: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-grid-classes: false;
$primary: #7f0fff;
$secondary: #bed6d5;
$success: #420084;
$danger: #f2460d;
$info: #7ebcfa;
$warning: #ff9933;
$light: #eef0f2;
$dark: #000633;
$navbar-dark-color: #f3f3f3;
