@import "./../../shared/colors.scss";

.container-fluid {
  height: 100vh;
}
.left-col {
  left: 0;
  overflow: auto;
  direction: rtl;
  & * {
    direction: ltr;
  }
}
.mid-col {
  left: 50%;
  transform: translateX(-50%);
}
.right-col {
  right: 0;
  overflow: auto;
}
.settings-btn,
.signout-btn {
  font-size: calc(1.5rem + 0.2vw);
}
.settings-btn:hover {
  & i {
    color: white !important;
  }
}
.signout-btn {
  &:hover {
    color: initial;
  }
}
