<div class="container-fluid">
  <div class="row mt-3">
    <div class="left-col col-2 h-100 position-fixed">
      <app-logo></app-logo>
      <app-sidenav></app-sidenav>
    </div>
    <div class="mid-col col-8">
      <app-user-main-content
        [profileData]="userData"
        [articleCommentsList]="articleCommentsList"
      ></app-user-main-content>
    </div>
    <div class="right-col col-2 h-100 position-fixed">
      <app-article-new-button></app-article-new-button>
      <app-article-new-button></app-article-new-button>
      <app-search-box></app-search-box>
      <app-trend-list></app-trend-list>
      <app-user-card-list></app-user-card-list>
    </div>
  </div>
</div>
