@import "../../../shared/variables.scss";

.sidenav {
  height: 89vh;
  font-size: 1.2rem;

  button {
    color: $dark;

    &.active {
      font-weight: bold;
      color: $primary;
    }
  }

  &-list i {
    font-size: 1.5em;
  }
}

.sidenav-list button:hover {
  color: $light !important;
  background-color: $placeholder;
}

.profile-card {
  height: 10vh;
}

@media (max-width: 1199.98px) {
  .sidenav-list i {
    font-size: 1.7em;
  }
}

@media (max-width: 767.98px) {
  .sidenav-list i {
    font-size: 1.3em;
  }
}
