<section class="sidenav">
  <div class="row">
    <div class="col-12 text-center">
      <div class="sidenav__menu btn border w-100">
        <button
          *ngFor="let navMenuItem of navMenu"
          [title]="navMenuItem.title"
          routerLink="{{ navMenuItem.path }}"
          routerLinkActive="active"
          class="
            sidenav__menu-item
            btn
            w-100
            d-flex
            align-items-center
            p-xl-3 p-lg-3 p-md-3
            py-sm-3
            px-sm-2
            py-3
            px-1
          "
        >
          <i
            class="sidenav__menu-item-icon fa"
            [ngClass]="navMenuItem.icon"
          ></i>
          <span class="sidenav__menu-item-title h4 m-0">{{
            navMenuItem.title
          }}</span>
        </button>
      </div>
    </div>
  </div>
</section>
