<section class="sidenav d-flex flex-column">
  <div class="logo mx-auto p-lg-3 p-md-2 p-1">
    <button class="btn" routerLink="/home">
      <img
        src="./../../../../assets/logo.png"
        alt="Techticle Logo"
        class="w-100 d-block mx-auto"
      />
    </button>
  </div>
  <div class="sidenav-list py-2">
    <button
      *ngFor="let navMenuItem of navMenu"
      routerLink="{{ navMenuItem.path }}"
      routerLinkActive="active"
      class="btn text-decoration-none d-flex ml-xl-4 mx-auto px-xl-4 py-3"
    >
      <i class="fa pr-xl-2" [ngClass]="navMenuItem.icon"></i>
      <span class="h4 d-xl-inline d-none m-0">{{ navMenuItem.title }}</span>
    </button>
  </div>
  <app-article-new-button></app-article-new-button>
</section>
<app-profile-card></app-profile-card>
