@import "./../../../shared/variables.scss";

.article-new-box__wrapper {
  position: relative;

  &:hover {
    outline: 0;
    border-color: $border-hover !important;
    box-shadow: $box-shadow-hover;
  }
}

.article-submit {
  width: 25%;
  right: 1.5rem;
  bottom: 1.4rem;
}
