@import "src/app/shared/colors.scss";

.article-item {
  & > div {
    cursor: default !important;
  }
  &-author__picture img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }
  &-content {
    &__update-date a {
      font-size: 0.8rem;
      &:hover {
        color: $dark;
      }
    }
    &__body a {
      font-size: 0.8rem;
    }
  }
  &-footer {
    & .action__count {
      padding-left: 0.15rem;
    }
    & * {
      font-size: 0.8rem;
    }
  }
}

// .info__follow-btn button {
//   font-size: 0.8rem;
//   padding: 0.2em 0.5em;
// }

.dropdown-item:hover {
  color: $light !important;
  background-color: $border-hover;
}

.tag-list__item button {
  padding: 0.2em 0.5em;
  &:hover {
    outline: 0;
    border-color: $border-hover !important;
    box-shadow: $box-shadow-hover;
  }
}
