<section class="article-item py-1">
  <div class="btn w-100 text-left border px-3 py-2">
    <div class="article-item-author d-flex align-items-center">
      <div class="article-item-author__picture">
        <a href="#">
          <img
            src="{{ article.author?.image }}"
            alt="User's Picture"
            title="{{ article.author?.username }}"
            class="p-1"
          />
        </a>
      </div>
      <div
        class="
          article-item-author__info
          d-flex
          justify-content-between
          w-100
          pl-2
        "
      >
        <div class="left-col">
          <div class="info__username font-weight-bold">
            <a href="#" class="text-dark">{{ article.author?.username }}</a>
          </div>
          <div class="article-item-content__update-date">
            <a href="#" class="text-black-50">{{ article.updatedAt | date }}</a>
          </div>
        </div>
        <div class="right-col">
          <div class="mr-1 dropdown">
            <button
              class="btn border-0"
              [class.show]="onClick"
              (click)="toggleDropdown()"
              (focusout)="onClick = false"
            >
              <i class="fa fa-ellipsis-h text-black-50"></i>
            </button>
            <button
              class="dropdown-menu dropdown-menu-right"
              [class.show]="onClick"
            >
              <a class="dropdown-item disabled" routerLink="/">Reteck</a>
              <a class="dropdown-item disabled" routerLink="/">Hide post</a>
            </button>
          </div>
        </div>
        <!-- <div class="info__follow-btn mt-1">
          <button
            *ngIf="article.author?.following; else elseBlock"
            class="btn btn-outline-primary"
          >
            Unfollow
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary">Follow</button>
          </ng-template>
        </div> -->
      </div>
    </div>
    <div class="article-item-content p-2">
      <div class="article-item-content__read-time my-2">
        <span class="text-black-50">5 min read</span>
      </div>
      <div class="article-item-content__title">
        <a href="#" class="h5">
          {{ article.title }}
        </a>
      </div>
      <div class="article-item-content__description mb-1">
        <span class="font-italic text-black-50">
          {{ article.description | truncate: 60 || "" }}
        </span>
      </div>
      <div class="article-item-content__body mb-2">
        <span>
          {{ article.body | truncate: 200 || "" }}
        </span>
        <a
          *ngIf="article.body.length > 200"
          routerLink="/articles/{{ article.slug }}"
          >Read more</a
        >
      </div>
    </div>
    <div
      class="
        article-item-footer
        d-flex
        align-items-center
        justify-content-between
        text-primary
        flex-wrap
        p-2
      "
    >
      <div class="article-item-actions">
        <span
          class="action__like pr-2"
          (mouseover)="heartOnHover = true"
          (mouseout)="heartOnHover = false"
        >
          <span class="action__icon">
            <i
              *ngIf="heartOnHover || article.favorited; else elseHeart"
              class="fa fa-heart"
              (click)="favoriteArticle(article.slug)"
            ></i>
            <ng-template #elseHeart>
              <i
                class="fa fa-heart-o"
                (click)="unFavoriteArticle(article.slug)"
              ></i>
            </ng-template>
          </span>
          <span class="action__count">
            {{ article.favoritesCount }}
          </span>
        </span>
        <span
          class="action_comment"
          (mouseover)="commentOnHover = true"
          (mouseout)="commentOnHover = false"
        >
          <span class="action__icon" (click)="openCommentList(article)">
            <i
              *ngIf="commentOnHover; else elseComment"
              class="fa fa-commenting"
            ></i>
            <ng-template #elseComment>
              <i class="fa fa-commenting-o"></i>
            </ng-template>
          </span>
          <span class="action__count">
            {{ article.comments.length }}
          </span>
        </span>
      </div>
      <div class="tag-list">
        <span
          *ngFor="let tagItem of article.tagList"
          class="tag-list__item px-1"
        >
          <button class="btn border text-primary">
            {{ tagItem }}
          </button>
        </span>
      </div>
    </div>
  </div>
</section>
