<section class="search-box pb-2">
  <div
    class="dropdown position-relative"
    [class.show]="onClick"
    (click)="toggleDropdown()"
    (focusout)="onClick = false"
  >
    <label
      for="search-box"
      class="col-form-label col-form-label-lg position-absolute px-3"
    >
      <i
        class="search-box-icon fa fa-search"
        [class.text-primary]="onClick"
      ></i>
    </label>
    <input
      id="search-box"
      type="search"
      class="form-control form-control-lg border pl-5"
      placeholder="Search Tecko"
    />
    <button class="dropdown-menu w-100" [class.show]="onClick">
      <a class="dropdown-item text-dark" routerLink="/"
        >Search with <span class="text-primary">asdvbafsv</span></a
      >
      <a class="dropdown-item text-dark" routerLink="/"
        ><span class="text-primary">@</span>authorName</a
      >
      <a class="dropdown-item text-dark" routerLink="/"
        ><span class="text-primary">#</span>trendName</a
      >
    </button>
  </div>
</section>
