<section class="search-box py-3 px-2">
  <div
    class="dropdown position-relative"
    [class.show]="onClick"
    (click)="toggleDropdown()"
    (focusout)="onClick = false"
  >
    <label
      for="search-box"
      class="col-form-label col-form-label-lg position-absolute px-3"
    >
      <i
        class="search-box-icon fa fa-search"
        [class.text-primary]="onClick"
      ></i>
    </label>
    <input
      id="search-box"
      type="search"
      class="form-control form-control-lg border pl-5"
      placeholder="Search Tecko"
    />
    <button class="dropdown-menu w-100 px-2" [class.show]="onClick">
      <app-profile-card [layout]="'search-box'"></app-profile-card>
      <app-profile-card [layout]="'search-box'"></app-profile-card>
      <app-profile-card [layout]="'search-box'"></app-profile-card>
    </button>
  </div>
</section>
