@import "../../../shared/variables.scss";

.search-box i,
input::placeholder {
  color: $placeholder-dark;
  font-size: 1.2rem;
}

input {
  border-radius: 2rem;
}

input:hover {
  outline: 0;
  border-color: $border-hover !important;
  box-shadow: $box-shadow-hover;
}
