@import "../../../shared/colors.scss";

.search-box {
  // position: -webkit-sticky; /* Safari */
  // position: sticky;
  // top: 0;
}

.search-box i,
input::placeholder {
  color: $placeholder-dark;
  font-size: 1.2rem;
}

input {
  border-radius: 2rem;
}

input:hover {
  outline: 0;
  border-color: $border-hover !important;
  box-shadow: $box-shadow-hover;
}

.dropdown-item:hover {
  color: $light !important;
  background-color: $border-hover;
}
