@import "src/app/shared/colors.scss";

.trend-list {
  &__wrapper {
    cursor: default !important;
  }
}
app-trend-item {
  width: 100%;
}
@media (max-width: 991.98px) {
  app-trend-item {
    width: auto;
    margin-right: 0.25rem;
  }
}
