@import "./../../../shared/colors.scss";

.trend-reputation {
  color: $placeholder-dark;
  & i {
    color: $placeholder;
  }
}

.trend-button {
  &:hover {
    .trend-header {
      color: $primary;
    }
    .trend-reputation {
      color: $placeholder;
    }
    outline: 0;
    border-color: $border-hover !important;
    box-shadow: $box-shadow-hover;
  }
}
